<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div id="root">
    <form id="url-form">
      <label for="url-input"></label>
      <span class="inputs">
        <input placeholder="Type in a URL" id="url-input" type="text">
        <input placeholder="Id" id="url-id-input" type="text">
      </span>
      <button class="btn" id="url-button">Gib me URL</button>
      <p class="error"></p>
    </form>
    <div class="success">
      <h1 class="success__message">
        Yay, now you've got a custom/shorter url 
      </h1>
      <a class="success__response"></a>
    </div>
  </div>
  <script src="/static/scripts/app.js"></script>
</body>
</html>