<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
</head>
<body>
  <div id="root">
    <form>
      <label for="url-input"></label>
      <input id="url-input" type="text">
      <button class="btn" id="url-button">Gib me URL</button>
    </form>
  </div>
  <script>
    const formButton = document.querySelector("#url-button");
    const urlInput = document.querySelector("#url-input");
    formButton.addEventListener("click", (e) => {
      e.preventDefault();
      fetch("/api/v1/url")
        .then(res => res.json())
        .then(res => console.log(res))
    })
  </script>
</body>
</html>